<aside class="sidebar position-fixed h-100 overflow-y-auto bg-dark text-white" style="width: 18rem;">
    <header class="d-flex align-items-center border-bottom border-primary px-4" style="height: 74px;">
        <h1 class="text-primary fw-bold text-uppercase mb-0">Admin</h1>
    </header>

    <div class="mt-5">
        <div class="item">
            <div class="sub-item d-flex align-items-center">
                <a href="/admin/dashboard" class="d-flex align-items-center flex-grow-1 px-4 py-4 d-block text-primary">
                    <i class="fa-solid fa-house"></i>
                    <span class="ps-2">Dashboard</span>
                </a>
            </div>
        </div>
        <div id="sidebar-list"></div>
    </div>
</aside>
