@model IEnumerable<ShopDienThoai.Models.ListProducts>
@using System.Globalization
@{
    ViewBag.Title = "Trang chủ";
    string FormatPrice(long don_gia, int? giam_gia)
    {
        long? price = 0;
        if (giam_gia.HasValue)
        {
            price = don_gia - (don_gia * giam_gia / 100);
        }
        else
        {
            price = don_gia;
        }
        CultureInfo culture = new CultureInfo("vi-VN");
        string formattedAmount = string.Format(culture, "{0:0,0}", price);
        return formattedAmount;
    }
}

<div class="site-blocks-cover mw-100" style="
            background-image: url('../../Assets/Images/banner_1.jpg');
            background-size: cover;
            background-position: center;
            background-repeat:no-repeat;"
     data-aos="fade">
</div>

<div class="site-section site-section-sm site-blocks-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-truck"></span>
                </div>
                <div class="text ps-3">
                    <h2 class="text-uppercase">Miễn phí vận chuyển</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-refresh2"></span>
                </div>
                <div class="text ps-3">
                    <h2 class="text-uppercase">Đổi trả miễn phí</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-help"></span>
                </div>
                <div class="text ps-3">
                    <h2 class="text-uppercase">Hỗ trợ khách hàng</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@foreach (var cate in Model)
{
    <div class="site-section block-3 site-blocks-2 bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 site-section-heading text-center pt-4">
                    <h2 class="text-uppercase">Điện thoại @cate.CateName</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="nonloop-block-3 owl-carousel">
                        @foreach (var item in cate.Products)
                        {
                            <div class="item">
                                <div class="block-4 text-center" style="min-height: 490.4px;">
                                    <figure class="block-4-image py-3">
                                        @if (item.anh_san_pham != null)
                                        {
                                            <img src="data:image/jpg;base64,@Convert.ToBase64String(item.anh_san_pham)" alt="" class="object-fit-contain" height="300">
                                        }
                                        else
                                        {
                                            <img src="https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-5529.jpg?w=740&t=st=1706538140~exp=1706538740~hmac=018ca23f3df63d3910e2643a461379f04b85c110ac70a1cc66d69661e55d4069" alt="" class="object-fit-contain" height="300">
                                        }
                                    </figure>
                                    <div class="block-4-text p-4">
                                        <h3><a href="/dien-thoai?id=@item.id" class="text-primary">@(item.ten_san_pham + " " + item.chi_tiet_san_pham.rom) GB</a></h3>
                                        <p class="mb-0 text-decoration-line-through" style="height: 27.2px;">
                                            @if (item.giam_gia > 0)
                                            {
                                                @FormatPrice(item.don_gia, null)
                                            }
                                        </p>
                                        <p class="text-danger font-weight-bold">@FormatPrice(item.don_gia, item.giam_gia) VNĐ</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
